name: Tests
on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install GCC 8
      run: |
        sudo apt-get -qy update
        sudo apt-get install g++-8
    - uses: actions/checkout@v2
    - name: g++ version
      run: g++-8 -v
    - name: cmake build
      env:
        CC: g++-8
        CXX: g++-8
      run: |
        mkdir build
        cmake -Bbuild -H.
        cmake --build build/ --target tests
    - name: Run tests
      run: build/tests
